.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper .form-control {
  padding-right: 2.5rem;
}

.input-wrapper .form-control.is-invalid {
  padding-right: 3.5rem;
}