.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper .input-without-info {
  width: 85% !important;
}

.input-wrapper .input-password {
  width: 85% !important;
}