/* Mobile First - Estilos base para mobile */
.main-layout {
  display: flex;
  
  height: 100vh;
  width: 100vw;

  overflow: hidden;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #FBFAFB;
  width: 100%;
  position: relative;
}

.page-container {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  width: 100%;
}

/* Desktop */
@media (width >= 1024px) { }