.header {
  width: 100vw;
  min-width: 375px;
  height: 65px;
  background-color: #FEFFFE;
  border-bottom: 1px solid #e0e0e0;
}

.header__container {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.header-container__button-open-sidebar {
  display: block;

  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;

  transition: color 0.3s ease;
}

.header-container__button-open-sidebar:hover {
  color: #7a96b4;
}

.header-container__section {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000;
  margin-left: 1rem;
}

/* Desktop */
@media (width > 1024px) {

}