.auth-card {
  width: 400px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.auth-card .card-header {
  text-align: center;
}

.auth-card .card-header .card-title {
  font-weight: 600;
  color: #5f7892
}