.btn-submit {
  width: 100%;
  background-color: #7a96b4;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #55718e;
  color: #fff;
}

.btn-add-account,
.btn-add-category,
.btn-add-entity,
.btn-add-debt {
  background-color: #7a96b4;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;

  margin-top: 1rem;
}

.btn-add-account__icon,
.btn-add-category__icon,
.btn-add-entity__icon,
.btn-add-debt__icon {
  margin-right: 0.5rem;
  margin-bottom: 0.20rem;
}

.btn-add-account__text,
.btn-add-category__text,
.btn-add-entity__text,
.btn-add-debt__text {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.btn-add-account:hover,
.btn-add-category:hover,
.btn-add-entity:hover,
.btn-add-debt:hover {
  background-color: #55718e;
  color: #fff;
}

.btn-submit-post {
  background-color: #7a96b4;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit-post:hover {
  background-color: #55718e;
  color: #fff;
}