.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 270px;
  min-width: 0;
  max-width: 270px;
  z-index: 1000;
  transition: transform 0.3s ease;
  overflow: hidden;
  background-color: #FEFFFE;
  border-right: 1px solid #e0e0e0;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
}

.sidebar--open {
  transform: translateX(0);
}

.sidebar--closed {
  transform: translateX(-100%);
}

.sidebar-user {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
}

.sidebar-user__icon {
  color: #000;
  padding: 0.5rem;
  border-radius: .5rem;

  background-color: #f0f0f0;
}

.sidebar-user__info {
  display: flex;
  flex-direction: column;
}

.sidebar-user__name {
  font-size: 1rem;
  font-weight: 600;
  color: #000;

  max-width: 24ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-user__email {
  font-size: 0.85rem;
  font-weight: 400;
  color: #000;
  font-weight: 400;
  opacity: 0.8;

  max-width: 24ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-nav {
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.2s ease;
  padding: 1rem;
  flex: 1;
  overflow-y: auto;
}

.sidebar-nav__item {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .6rem;
  margin-bottom: .5rem;

  transition: background-color 0.3s ease;
}

.sidebar-nav__item:last-child {
  margin-bottom: 0;
}

.sidebar-nav__item:hover {
  background-color: #f0f0f0;
  border-radius: .5rem;
}

.sidebar-nav__item.active {
  background-color: #7a96b4;
  border-radius: .5rem;
}

.sidebar-nav__item.active * {
  color: #fff;
}

.sidebar-nav__icon {
  color: #000;
  margin-bottom: .15rem;
}

.sidebar-nav__text {
  font-size: .9rem;
  font-weight: 500;
  color: #000;
}

.sidebar--closed .sidebar-user,
.sidebar--closed .sidebar-nav {
  opacity: 0;
  pointer-events: none;
}

.sidebar-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  animation: fadeIn 0.3s ease;
}

.sidebar-footer {
  padding: 1rem;
  border-top: 1px solid #e0e0e0;
  margin-top: auto;
}

.sidebar-footer__button {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;

  transition: background-color 0.3s ease;

  padding: .5rem;
}

.sidebar-footer__button:hover {
  background-color: #f0f0f0;
  border-radius: .5rem;
}

.sidebar-footer__text {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  margin-left: .5rem;
}

/* Desktop */
@media (width >= 1024px) {
  .sidebar-overlay {
    display: none;
  }

  .main-content {
    transition: margin-left 0.3s ease;
  }

  .sidebar {
    position: relative;
    transform: none;
    transition: width 0.3s ease, min-width 0.3s ease;
  }

  .sidebar--open {
    width: 270px;
    min-width: 270px;
    transform: none;
  }

  .sidebar--closed {
    width: 0;
    min-width: 0;
    transform: none;
  }

  .sidebar-user__name {
    font-size: 1.1rem;

    max-width: 20ch;
  }
  
  .sidebar-user__email {
    font-size: 0.875rem;

    max-width: 20ch;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}