.message-error {
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 4px;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.message-success {
  background-color: #d4edda;
  color: #155724;
  border-radius: 4px;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}